Package: com.ipadkid.carReader
Name: carReader
Architecture: iphoneos-arm
Description: View the contents of .car files
Homepage: https://github.com/ipadkid358/carReader
Maintainer: ipad_kid <ipadkid358@gmail.com>
Author: ipad_kid <ipadkid358@gmail.com>
Section: Utilities
Version: 0.0.1
